/* variables */
:root{
    --primary: #e56c78;
    --secondary: #262626;
}

/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* base styles */
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.flex{
    display: flex;
}
.container-fluid{
    padding: 0 100px;
}
.button{
    display: inline-block;
    background-color: var(--primary);
    color: #fff;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
}
.button:hover{
    background-color: #e9606e;
}

/* fonts */

/* desktop styles */
.navigation{
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.navbar-brand img{
    width: 11em;
}
.navbar-brand{
    grid-column: 1/4;
}
.nav-links{
    grid-column: 9/13;
}
.nav-items{
    justify-content: space-between;
}
.nav-items a{
    font-size: 1em;
}
.hero-text{
    text-align: center;
}
.hero-text h2{
    color: var(--primary);
}
.hero-text h1{
    color: var(--secondary);
    font-size: 5em;
    line-height: 1.25;
    margin-bottom: 30px;
}
.hero-text h3{
    color: var(--secondary);
    width: 50%;
    margin: 0 auto;
}
.hero-text a{
    margin: 50px 0;
}
